body{
    text-align: center;
    background-color: #2e8b57; 
}
h2{
    color: white;
}
p{
    color: white;
}
#divVegetables {
    display: flex;
    row-gap: 11px;
    max-width: 270px;
    flex-direction: column;
    margin: 0px auto;
    padding-top: 10px;
    height: 500px;
    width: 275px;
    padding: 30px;
    background-color: white;
}
